<div class="container">

  <%= form_tag(rates_path, method: :get) do %>
    <%= number_field_tag :amount, (params[:amount] or 100) %>
    <%= submit_tag 'Get Rates', name: nil %>
  <% end %>

  <h2>Latest Exchange Rates</h2>
  
  <table>
    <thead>
      <tr>
        <th>Currency</th>
        <th>Amount</th>
      </tr>
    </thead>
    <tbody>
      <% @rates['rates'].each do |key, value| %>
        <tr>
          <td><%=h "#{key.to_s}" %></td>
          <td><%= '%.2f' % (value.to_f * (params[:amount] or 100).to_f) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

</div>

<script>
  // Cache today’s rates to a JS object.
  const ratesToday = <%= raw(@rates['rates'].to_json) %>;
</script>